@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Work Sans', sans-serif;
}

html, body{
    height: 100%;
    margin:0;
    padding:0;
    position: relative;
}

//sign in page
.user-icon, .password-icon{
    top:30% !important;
    left: 5% !important;
}